name: Go Tests

on: 
  pull_request:
    branches:
      - main
    paths:
      - 'cmd/**'
      - 'internal/**'
      - '.github/workflows/go-test.yml'
      - '.github/workflows/go-test-reusable.yml'
      - '.github/workflows/docker-build-reusable.yml'

jobs:
  test:
    uses: ./.github/workflows/go-test-reusable.yml
    with:
      go-version: '1.24'
      working-directory: '.'